<div class="middle">
    <div class="profile">
      <img  class="my-image" src="../../assets/fareed.JPG" alt="Fareed's Image">
      <h2>Hello.</h2>
      <p>He's still an undergraduate with a growing sense of responsibility and hardwork as well as dreams the size of the oceans, not just mere dreams, but dreams that very soon will be achieved and surpassed.watch out for him as he  grows before our very eyes.<strong>Cheers!!</strong></p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="skills-image1" src="https://cdn-icons-png.flaticon.com/512/2502/2502261.png" alt="skills image">
        <h3>Data Scientist and web developer</h3>
        <p>I started coding when i was in middle school, but i only started taking it really seriously around my second year in the university, my goal is to achieve as much as i can an make a living from it</p>
      </div>
      <div class="skill-row">
        <img class="skills-image2" src="https://media4.giphy.com/media/JSpRuzrFfFUBhFdCs8/200.webp?cid=ecf05e47euyhm8revcf90t8os9dj77g932dymc7reiue8l9i&rid=200.webp&ct=s" alt="sports image">
        <h3>Sports</h3>
        <p>I really love sports and i'd like to think i'm really good at it as well, i enjoy basketball, football and ping pong the most though.</p>
      </div>
    </div>
</div>